<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/main.css">
</head>

<body>

    <div class="application">
        <div id="slot-machine">
            <div class="reels row">
                <div class="col" v-for="reel in reels">
                    <div class="symbol" v-for="(symbol, index) in reel" v-bind:class="{ 'win-line' : winLines.indexOf(index) > -1 }">
                        {{ symbol }}
                    </div>
                </div>
            </div>
            <div class="controls">
                <button class="btn btn-dark" v-on:click="toggleRandomSpin">Random Spin</button>
                <button class="btn btn-dark" v-on:click="toogleWinSpin">Win Spin</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="src/main.js"></script>

</body>

</html>