@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@keyframes reel-spin {
	0% {
		transform: translate3d(0, -50%, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0)
	}
}

.application {
    width: 480px;
	margin: 10px;
	//border: 1px dotted lightgrey;
	box-sizing: border-box;
}

.symbol {
	text-align: center;
	width: 160px;
	img {
		width: 100%;
	}
}

.controls {
    margin-top: 25px;
    text-align: center;
}

.win-line {
    color: red;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.col {
	position: relative;
	overflow: hidden;
	padding: 0;
}

.reel {
	position: relative;
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.reel-above-first, .reel-above-second {
	display: block;
	position: absolute;
    transform: translate3d(0, -100%, 0);
	color: #000;	
}



.reel-spinning {
	.reel {
		opacity: 0;
	}

	.reel-above-first {
		display: block;
		animation: reel-spin .5s linear infinite;
	}
	
	.reel-above-second {
		display: block;
		animation: reel-spin .5s linear infinite;
		animation-delay: 0.25s;
	}
}