@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@keyframes reel-spin {
	0% {
		transform: translate3d(0, -50%, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0)
	}
}

body {
	background-color: #ccc;
}

.application {
	margin: 10px;
	box-sizing: border-box;
}

.symbol {
	text-align: center;
	width: 160px;
	img {
		width: 100%;
	}
}

#slot-machine {
	margin: 0 auto;
}

.debug {
	table {
		width: 100%;
		font-size: 12px;
		td {
			padding: 2px;
			border: 1px solid darkgray;
			color: darkgray;
			width: 50%;
		}
		.position {
			text-align: right;
		}
	}
}

.controls {
    margin-top: 25px;
    text-align: center;
}

.win-line {
    color: red;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.col {
	position: relative;
	overflow: hidden;
	padding: 0;
	max-width: 160px;
}

.reels .col {
	background: #58595b;
}

.reel-above {
	display: block;
	position: absolute;
	transform: translate3d(0, 0, 0);
	color: #000;
	bottom: 0;	
}

.disabled {
	opacity: 0.8;
	pointer-events: none;
}