<html>

<head>

</head>

<body>

	<div class="application">
		<div id="slot-machine" v-if="slotMachine" :style="'width: ' + slotMachineWidth + 'px'">
			
			<div class="debug row" v-if="gameMode === 'debug'">
				<div v-for="(reel, reelIndex) in slotMachine.reels" class="col">
					<table>
						<tr>
							<td>{{reel.spinningState}}</td>
							<td class="position">{{reel.position}}</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="reels row" :style="'height: ' + slotMachineHeight + 'px'">
				<div class="col" v-for="(reel, reelIndex) in slotMachine.reels" :style="'transform: translateX(-' + reelIndex + 'px'">


					<div class="reel-container" :class="{ 'reel-spinning' : slotMachine.reels[reelIndex].spinning}">
						<div class="reel-above" :style="'transform: translate3d(0, '  + reel.position + 'px, 0);'">
							<div class="symbol" v-for="(symbol, index) in reel.symbols" v-if="slotMachine.reels[reelIndex].spinningState === 'stopping'">
								<img :src="'assets/symbols/' + getSymbolUrl(symbol)" alt="{{symbol.key}}">
							</div>
							<div class="symbol" v-for="symbol in symbols">
								<img :src="'assets/symbols/' + symbol.url" alt="{{symbol.key}}">
							</div>
							<div class="symbol" v-for="symbol in symbols">
								<img :src="'assets/symbols/' + symbol.url" alt="{{symbol.key}}">
							</div>
							<div class="symbol" v-for="(symbol, index) in reel.symbols">
								<img :src="'assets/symbols/' + getSymbolUrl(symbol)" alt="{{symbol.key}}">
							</div>
						</div>

					</div>


				</div>
			</div>

			<div class="controls">
				<button class="btn btn-dark" v-on:click="spin" :class="{'disabled' : slotMachine.state !== states.IDLE}">Spin</button>
				<button class="btn btn-dark" v-on:click="stop" :class="{'disabled' : slotMachine.state !== states.SPIN}">Stop</button>
			</div>

		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

</body>

</html>